* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background: #f5f5f5;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 60px 30px;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

#home {
  text-align: center;
  background: #222;
  color: white;
}

#home button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff9800;
  border: none;
  cursor: pointer;
}

.skill-box span {
  display: inline-block;
  background: #eee;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.project-card {
  background: #fafafa;
  padding: 20px;
  margin-top: 15px;
  border-left: 5px solid #ff9800;
}

footer {
  text-align: center;
  padding: 15px;
  background: #111;
  color: white;
}

.profile-pic {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #0d6efd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

#contact a {
  color: #0d6efd; /* blue */
  text-decoration: none; /* underline hatao */
  font-weight: bold;
  transition: color 0.3s;
}

#contact a:hover {
  color: #084298;
  text-decoration: underline;
}
